DB_NAME=db_name
LC_ALL=C.UTF-8
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=db_name
DB_PORT=port_ext:5432

ENV_GEOSERVER=geoserver
GEOSERVER_VERSAO=2.23.0
GEOSERVER_PORT=port_ext:8080
